name: run main.py

on: push

jobs:
  build:
    runs-on: macos-13
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # install the python version needed

      - name: install python packages
        run: |
        
          curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
          python -m pip install --upgrade pip
          pip install scratchattach

      - name: execute py script # run main.py
        run: python main.py
